body {
  padding-top: 50px;
  background: #bebebe !important;
}

body.white-page {
  background-color: #fff !important;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center !important;
  }

  .navbar .navbar-brand {
    font-size: 12pt;
  }
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: groove;
  background: #fff;
}

.frame {
  margin: auto;
  height: 100%;
  width:inherit;
  border: 0px;
  position: relative;
}

img {
  height auto;
  max-width: 90%;
}

.vertical-center {
  height: 80vh;
  display: flex;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 90% !important;
  margin: 0 auto !important;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
  0px 10px 20px rgba(0,0,0,0.05),
  0px 20px 20px rgba(0,0,0,0.05),
  0px 30px 20px rgba(0,0,0,0.05);
  border-bottom: 2px solid #333;
  font-size:10pt;
  background-color: #fdfdfd;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #333;
  color: #9d9d9d;
}

object {
  position: relative;
  float: none;
  display: block;
  width: auto;
  height: auto;
  margin: 1% auto;
  border: 1px solid #fdfdfd;
}
