spool start /root/creds.txt
query SELECT username FROM credentials ORDER BY username
spool stop

spool start /root/emails.txt
query SELECT email FROM contacts WHERE email !="" ORDER BY email
spool stop

spool start /root/hosts.txt
query SELECT ip_address FROM hosts ORDER BY ip_address
spool stop

spool start /root/names.txt
query SELECT last_name, first_name FROM contacts WHERE last_name !="" ORDER BY last_name
spool stop

spool start /root/subdomains.txt
query SELECT host, ip_address FROM hosts ORDER BY host
spool stop
