setg RHOSTS file:
setg THREADS 255
setg RPORT 445

use auxiliary/scanner/dcerpc/petitpotam
run

use auxiliary/scanner/smb/pipe_auditor
run

use auxiliary/scanner/smb/pipe_dcerpc_auditor
run

use auxiliary/scanner/smb/psexec_loggedin_users
run

use auxiliary/scanner/smb/smb_enum_gpp
run

use auxiliary/scanner/smb/smb_enumshares
run

use auxiliary/scanner/smb/smb_enumusers
run

use auxiliary/scanner/smb/smb_enumusers_domain
run

use auxiliary/scanner/smb/smb_login
run

use auxiliary/scanner/smb/smb_lookupsid
set MaxRID 1025
run

use auxiliary/scanner/smb/smb_ms17_010
run

use auxiliary/scanner/smb/smb_uninit_cred
run

use auxiliary/scanner/smb/smb_version
run
