setg RHOSTS file:/opt/scripts/test/21.txt
setg THREADS 255
setg RPORT 21

use auxiliary/scanner/ftp/ftp_version
run

use auxiliary/scanner/ftp/anonymous 
run

use auxiliary/admin/ftp/titanftp_xcrc_traversal
run

