setg DOMAIN
setg HTTPBL_APIKEY
setg PATH_SAVE /root
setg RANGE
setg RHOST
setg RHOSTS
setg SQLMAP_PATH /pentest/database/sqlmap
setg THREADS 255
setg VULNCSV

use auxiliary/scanner/http/apache_userdir_enum
run

use auxiliary/scanner/http/axis_local_file_include
run

#use auxiliary/scanner/http/axis_login						Brute force.

use auxiliary/scanner/http/backup_file
run

use auxiliary/scanner/http/barracuda_directory_traversal
run

use auxiliary/scanner/http/blind_sql_query
run

#use auxiliary/scanner/http/brute_dirs						Hangs

use auxiliary/scanner/http/cert
run

use auxiliary/scanner/http/cisco_device_manager
run

use auxiliary/scanner/http/cisco_ios_auth_bypass
run

use auxiliary/scanner/http/cisco_nac_manager_traversal
run

use auxiliary/scanner/http/cold_fusion_version
run

use auxiliary/scanner/http/coldfusion_locale_traversal
run

use auxiliary/scanner/http/copy_of_file
run

#use auxiliary/scanner/http/crawler						Hangs
#run

use auxiliary/scanner/http/dir_listing
run

use auxiliary/scanner/http/dir_scanner
run

use auxiliary/scanner/http/dir_webdav_unicode_bypass
run

use auxiliary/scanner/http/dolibarr_login
run

use auxiliary/scanner/http/drupal_views_user_enum
run

#use auxiliary/scanner/http/ektron_cms400net					Brute force.

#use auxiliary/scanner/http/enum_delicious					Not using at this time.

#use auxiliary/scanner/http/enum_wayback					Not using at this time.

use auxiliary/scanner/http/error_sql_injection
run

#use auxiliary/scanner/http/file_same_name_dir				Blank or default PATH set.

use auxiliary/scanner/http/files_dir
run

use auxiliary/scanner/http/frontpage_login
run

use auxiliary/scanner/http/glassfish_login
run

use auxiliary/scanner/http/http_login
run

use auxiliary/scanner/http/http_put
set FILENAME /opt/metasploit/msf3/README.md
run

use auxiliary/scanner/http/http_traversal
run

#use auxiliary/scanner/http/httpbl_lookup					The following options failed to validate: HTTPBL_APIKEY.

use auxiliary/scanner/http/iis_internal_ip
run

#use auxiliary/scanner/http/impersonate_ssl					Not using at this time.

use auxiliary/scanner/http/jboss_vulnscan
run

use auxiliary/scanner/http/litespeed_source_disclosure
run

#use auxiliary/scanner/http/lucky_punch						BUG - call stack

use auxiliary/scanner/http/majordomo2_directory_traversal
run

use auxiliary/scanner/http/manageengine_traversal
run

use auxiliary/scanner/http/mod_negotiation_brute
run

use auxiliary/scanner/http/mod_negotiation_scanner
run

use auxiliary/scanner/http/ms09_020_webdav_unicode_bypass
run

use auxiliary/scanner/http/netdecision_traversal
run

use auxiliary/scanner/http/nginx_source_disclosure
run

use auxiliary/scanner/http/open_proxy
run

#use auxiliary/scanner/http/owa_login						Brute force.

#use auxiliary/scanner/http/prev_dir_same_name_file			Blank or default PATH set.


use auxiliary/scanner/http/rails_mass_assignment
run

use auxiliary/scanner/http/replace_ext
run

use auxiliary/scanner/http/rewrite_proxy_bypass
run

use auxiliary/scanner/http/robots_txt
run

use auxiliary/scanner/http/s40_traversal
run

use auxiliary/scanner/http/sap_businessobjects_user_brute
run

use auxiliary/scanner/http/sap_businessobjects_user_brute_web
run

use auxiliary/scanner/http/sap_businessobjects_user_enum
run

use auxiliary/scanner/http/sap_businessobjects_version_enum
run

use auxiliary/scanner/http/scraper
run

use auxiliary/scanner/http/soap_xml
run

use auxiliary/scanner/http/sockso_traversal
run

use auxiliary/scanner/http/sqlmap
run

#use auxiliary/scanner/http/squid_pivot_scanning				Not using at this time.

use auxiliary/scanner/http/squiz_matrix_user_enum
run

use auxiliary/scanner/http/ssl
run

use auxiliary/scanner/http/svn_scanner
run

#use auxiliary/scanner/http/sybase_easerver_traversal			Please supply the name of the file you want to download.

use auxiliary/scanner/http/trace
run

use auxiliary/scanner/http/trace_axd
run

#use auxiliary/scanner/http/vcms_login						Brute force.

use auxiliary/scanner/http/verb_auth_bypass
run

#use auxiliary/scanner/http/vhost_scanner					The following options failed to validate: DOMAIN.

use auxiliary/scanner/http/vmware_update_manager_traversal
run

#use auxiliary/scanner/http/web_vulndb						The following options failed to validate: VULNCSV (Path of vulnerabilities csv file to use).

use auxiliary/scanner/http/webdav_internal_ip
run

use auxiliary/scanner/http/webdav_website_content
run

use auxiliary/scanner/http/wordpress_login_enum
run

use auxiliary/scanner/http/yaws_traversal
run

use auxiliary/scanner/lotus/lotus_domino_version
run

