setg DOMAIN
setg HTTPBL_APIKEY
setg PATH_SAVE /root
setg RANGE
setg RHOST
setg RHOSTS
setg SQLMAP_PATH /pentest/database/sqlmap
setg THREADS 255
setg VULNCSV

a10networks_ax_directory_traversal
adobe_xml_inject
apache_activemq_source_disclosure
apache_activemq_traversal
apache_userdir_enum
atlassian_crowd_fileaccess
axis_local_file_include
axis_login
backup_file
barracuda_directory_traversal
bitweaver_overlay_type_traversal
blind_sql_query
brute_dirs
canon_wireless
cert
cisco_asa_asdm
cisco_device_manager
cisco_ios_auth_bypass
cisco_ironport_enum
cisco_nac_manager_traversal
clansphere_traversal
coldfusion_locale_traversal
cold_fusion_version
concrete5_member_list
copy_of_file
crawler
dell_idrac
dir_listing
dir_scanner
dir_webdav_unicode_bypass
dlink_dir_300_615_http_login
dlink_dir_615h_http_login
dlink_dir_session_cgi_http_login
dlink_user_agent_backdoor
dolibarr_login
drupal_views_user_enum
ektron_cms400net
enum_wayback
error_sql_injection
file_same_name_dir
files_dir
frontpage_login
glassfish_login
groupwise_agents_http_traversal
hp_imc_bims_downloadservlet_traversal
hp_imc_faultdownloadservlet_traversal
hp_imc_ictdownloadservlet_traversal
hp_imc_reportimgservlt_traversal
hp_imc_som_file_download
hp_sitescope_getfileinternal_fileaccess
hp_sitescope_getsitescopeconfiguration
hp_sitescope_loadfilecontent_fileaccess
hp_sys_mgmt_login
httpbl_lookup
http_hsts
http_login
http_put
http_traversal
http_version
iis_internal_ip
infovista_enum
jboss_vulnscan
jenkins_enum
joomla_pages
joomla_plugins
joomla_version
linksys_e1500_traversal
litespeed_source_disclosure
lucky_punch
majordomo2_directory_traversal
manageengine_deviceexpert_traversal
manageengine_securitymanager_traversal
mediawiki_svg_fileaccess
mod_negotiation_brute
mod_negotiation_scanner
ms09_020_webdav_unicode_bypass
netdecision_traversal
netgear_sph200d_traversal
nginx_source_disclosure
novell_file_reporter_fsfui_fileaccess
novell_file_reporter_srs_fileaccess
novell_mdm_creds
ntlm_info_enumeration
openmind_messageos_login
open_proxy
options
oracle_ilom_login
owa_login
prev_dir_same_name_file
radware_appdirector_enum
rails_json_yaml_scanner
rails_mass_assignment
rails_xml_yaml_scanner
replace_ext
rewrite_proxy_bypass
rfcode_reader_enum
robots_txt
s40_traversal
sap_businessobjects_user_brute
sap_businessobjects_user_brute_web
sap_businessobjects_user_enum
sap_businessobjects_version_enum
scraper
sentry_cdu_enum
sevone_enum
simple_webserver_traversal
smt_ipmi_cgi_scanner
smt_ipmi_static_cert_scanner
smt_ipmi_url_redirect_traversal
soap_xml
sockso_traversal
splunk_web_login
squid_pivot_scanning
squiz_matrix_user_enum
ssl
support_center_plus_directory_traversal
svn_scanner
svn_wcdb_scanner
sybase_easerver_traversal
symantec_brightmail_logfile
titan_ftp_admin_pwd
tomcat_enum
tomcat_mgr_login
tplink_traversal_noauth
trace_axd
trace
typo3_bruteforce
vcms_login
verb_auth_bypass
vhost_scanner
vmware_server_dir_trav
vmware_update_manager_traversal
wangkongbao_traversal
webdav_internal_ip
webdav_scanner
webdav_website_content
webpagetest_traversal
web_vulndb
wordpress_login_enum
wordpress_pingback_access
wordpress_scanner
xpath
yaws_traversal
zenworks_assetmanagement_fileaccess
zenworks_assetmanagement_getconfig

ipidseq                  # from ip

lotus_domino_hashes      # from lotus
lotus_domino_login       # from lotus
lotus_domino_version     # from lotus
