modules load import/csv_file
options set FILENAME /tmp/names.csv
options set TABLE contacts
options set COLUMN_SEPARATOR #
options set CSV_FIRST_NAME first_name
options set CSV_LAST_NAME last_name
options set CSV_TITLE title
run
