-- Thanks Brett Fitzpatrick for this first query.
query DELETE FROM contacts WHERE rowid NOT IN (SELECT min(rowid) FROM contacts GROUP BY first_name, last_name, email)

query DELETE FROM contacts WHERE first_name OR last_name ILIKE 'analysis'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%architecture%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%australia%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%barricade%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%board%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%bsn%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%captain%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%cdr%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%cfp%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%cissp%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%cnm%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%company%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%cpa%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%cpm%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%cyber%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%department%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%developer%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%director%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%economic%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%eningeer%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%future%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%group%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%hacker%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%idatasec%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%limited%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%ltd%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%manage%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%md%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%mpa%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%msd%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%opportunity%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%psa%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%professional%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%promise%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%ransomware%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%rn%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%secretariat%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%security%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%service%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%sfv%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%society%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%technolog%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%transport%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%trusted%'
query DELETE FROM contacts WHERE first_name OR last_name ILIKE '%week%'
query DELETE FROM contacts WHERE first_name OR last_name LIKE '% %'
query DELETE from contacts WHERE first_name OR last_name LIKE '_'
query DELETE FROM contacts WHERE first_name OR last_name LIKE '(%'

query DELETE FROM contacts WHERE title ILIKE '%intern%'
query DELETE FROM contacts WHERE title ILIKE '%lecturer%'
query DELETE FROM contacts WHERE title ILIKE '%retired%'
query DELETE FROM contacts WHERE title ILIKE '%student%'
query DELETE FROM contacts WHERE title ILIKE '%undergraduate%'

query DELETE FROM profiles WHERE username LIKE '%=%'
query DELETE FROM profiles WHERE username LIKE '%+%'
query DELETE FROM profiles WHERE username LIKE '%...%'

query UPDATE contacts SET email = LOWER(email)
query UPDATE credentials SET username = LOWER(username)
query UPDATE hosts SET host = LOWER(host)
query UPDATE ports SET host = LOWER(host)
query UPDATE profiles SET username = LOWER(username)

query UPDATE contacts SET title = '' WHERE title ILIKE '%...%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%experience%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%first name%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%includes%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%linkedin%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%people also%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%profile%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%undetermined%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%whois%'
query UPDATE contacts SET title = '' WHERE title ILIKE '%working%'

query UPDATE contacts SET title = ', ' WHERE title LIKE '% - %'
query UPDATE contacts SET title = 'Associate, ' WHERE title ILIKE '%associate -%'
query UPDATE contacts SET title = 'Assistant VP' WHERE title ILIKE '%avp%'
query UPDATE contacts SET title = 'Director, ' WHERE title ILIKE '%director %'
query UPDATE contacts SET title = 'Director, ' WHERE title ILIKE '%director-%'
query UPDATE contacts SET title = 'Director, ' WHERE title ILIKE '%director -%'
query UPDATE contacts SET title = 'Financial Manager' WHERE title ILIKE '%finance manager%'
query UPDATE contacts SET title = 'Head, ' WHERE title ILIKE '%head (%'
query UPDATE contacts SET title = 'Head, ' WHERE title ILIKE '%head - %'
query UPDATE contacts SET title = 'Lead, ' WHERE title ILIKE '%lead (%'
query UPDATE contacts SET title = 'Lead, ' WHERE title ILIKE '%lead - %'
query UPDATE contacts SET title = 'Manager, ' WHERE title ILIKE '%manager %'
query UPDATE contacts SET title = 'Manager, ' WHERE title ILIKE '%manager-%'
query UPDATE contacts SET title = 'Manager, ' WHERE title ILIKE '%manager -%'
query UPDATE contacts SET title = 'Manager' WHERE title ILIKE '%mgr%'
query UPDATE contacts SET title = 'Senior ' WHERE title ILIKE '%sr %'
query UPDATE contacts SET title = 'Senior ' WHERE title ILIKE '%sr %'
query UPDATE contacts SET title = 'Senior' WHERE title ILIKE '%sr.%'
query UPDATE contacts SET title = 'VP' WHERE title ILIKE '%vice president%'
query UPDATE contacts SET title = 'VP' WHERE title ILIKE '%vice-president%'
query UPDATE contacts SET title = 'VP' WHERE title ILIKE '%vp,%'

