marketplace refresh

workspaces create yyy
db insert companies
xxx
none
db insert domains
yyy

modules load recon/domains-domains/brute_suffix
run
modules load recon/domains-hosts/brute_hosts
run
modules load recon/domains-hosts/mx_spf_ip
run
modules load recon/netblocks-hosts/reverse_resolve
run
modules load recon/hosts-hosts/resolve
run
modules load recon/hosts-hosts/reverse_resolve
run

back

db query UPDATE hosts SET host = LOWER(host)

spool start /tmp/subdomains
db query SELECT DISTINCT host,ip_address FROM hosts WHERE host IS NOT NULL ORDER BY host
spool stop

exit

