use import/list
set TABLE hosts
set COLUMN ip_address
set FILENAME /root/ips
run

use recon/hosts-hosts/freegeoip
run
use recon/hosts-hosts/ipinfodb
run

back

spool start /root/tmp
query SELECT latitude,longitude FROM hosts
spool stop

exit
