modules load recon/domains-hosts/mx_spf_ip
run
modules load recon/netblocks-hosts/reverse_resolve
run
modules load recon/hosts-hosts/resolve
run
modules load recon/hosts-hosts/reverse_resolve
run

db query UPDATE hosts SET host = LOWER(host)

db query DELETE FROM hosts WHERE host NOT LIKE '%.yyy%'

spool start /tmp/subdomains-active
db query SELECT DISTINCT host,ip_address FROM hosts WHERE host IS NOT NULL ORDER BY host ASC
db query SELECT DISTINCT host,ip_address FROM ports WHERE host IS NOT NULL ORDER BY host ASC
spool stop

exit
