workspaces create yyy
db insert companies
xxx
none
db insert domains
yyy

load module recon/domains-hosts/brute_hosts
run
load module recon/domains-hosts/mx_spf_ip
run
load module recon/netblocks-hosts/reverse_resolve
run
load module recon/hosts-hosts/resolve
run
load module recon/hosts-hosts/reverse_resolve
run

back

query UPDATE hosts SET host = LOWER(host)

spool start /tmp/subdomains
query SELECT DISTINCT host,ip_address FROM hosts WHERE host IS NOT NULL ORDER BY host
spool stop

exit
