-- Thanks Brett Fitzpatrick for the first query.
query DELETE FROM contacts WHERE rowid NOT IN (SELECT min(rowid) FROM contacts GROUP BY first_name, last_name, email)

query DELETE FROM contacts WHERE first_name LIKE '%australia%'
query DELETE FROM contacts WHERE first_name LIKE '%cyber%'
query DELETE FROM contacts WHERE first_name LIKE '%management%'
query DELETE FROM contacts WHERE first_name LIKE '%msd%'
query DELETE FROM contacts WHERE first_name LIKE '%promise%'
query DELETE from contacts WHERE first_name OR last_name like '_'
query DELETE FROM contacts WHERE last_name LIKE '% %'
query DELETE FROM contacts WHERE last_name LIKE '(%'
query DELETE FROM contacts WHERE last_name LIKE '%architecture%'
query DELETE FROM contacts WHERE last_name LIKE '%barricades%'
query DELETE FROM contacts WHERE last_name LIKE '%bsn%'
query DELETE FROM contacts WHERE last_name LIKE '%cdr%'
query DELETE FROM contacts WHERE last_name LIKE '%cfp%'
query DELETE FROM contacts WHERE last_name LIKE '%cissp%'
query DELETE FROM contacts WHERE last_name LIKE '%cnm%'
query DELETE FROM contacts WHERE last_name LIKE '%company%'
query DELETE FROM contacts WHERE last_name LIKE '%cpa%'
query DELETE FROM contacts WHERE last_name LIKE '%cpm%'
query DELETE FROM contacts WHERE last_name LIKE '%developer%'
query DELETE FROM contacts WHERE last_name LIKE '%idatasec%'
query DELETE FROM contacts WHERE last_name LIKE '%ransomware%'
query DELETE FROM contacts WHERE last_name LIKE '%rn%'
query DELETE FROM contacts WHERE last_name LIKE '%sfv%'
query DELETE FROM contacts WHERE last_name LIKE '%technologies%'
query DELETE FROM contacts WHERE title LIKE '%lecturer%'
query DELETE FROM contacts WHERE title LIKE '%retired%'
query DELETE FROM contacts WHERE title LIKE '%student%'
query DELETE FROM contacts WHERE title LIKE '%undergraduate%'
query DELETE FROM profiles WHERE username LIKE '%=%'
query DELETE FROM profiles WHERE username LIKE '%+%'
query DELETE FROM profiles WHERE username LIKE '%...%'

query UPDATE contacts SET email = LOWER(email)
query UPDATE credentials SET username = LOWER(username)
query UPDATE hosts SET host = LOWER(host)
query UPDATE ports SET host = LOWER(host)
query UPDATE profiles SET username = LOWER(username)

query UPDATE contacts SET title = '' WHERE title LIKE '%...%'
query UPDATE contacts SET title = '' WHERE title LIKE '%experience%'
query UPDATE contacts SET title = '' WHERE title LIKE '%First Name Last Name.%'
query UPDATE contacts SET title = '' WHERE title LIKE '%includes%'
query UPDATE contacts SET title = '' WHERE title LIKE '%LinkedIn%'
query UPDATE contacts SET title = '' WHERE title LIKE '%People Also Viewed.%'
query UPDATE contacts SET title = '' WHERE title LIKE '%Public profile badge.%'
query UPDATE contacts SET title = '' WHERE title LIKE '%View profile.%'
query UPDATE contacts SET title = '' WHERE title = 'Undetermined'
query UPDATE contacts SET title = '' WHERE title = 'Whois contact'
query UPDATE contacts SET title = '' WHERE title = 'Whois contact (Abuse)'
query UPDATE contacts SET title = '' WHERE title = 'Whois contact (Admin)'
query UPDATE contacts SET title = '' WHERE title = 'Whois contact (Tech)'
query UPDATE contacts SET title = '' WHERE title LIKE '%working%'

query UPDATE contacts SET title = ', ' WHERE title LIKE '% - %'
query UPDATE contacts SET title = 'Assistant VP' WHERE title LIKE '%AVP%'
query UPDATE contacts SET title = 'Director, ' WHERE title LIKE '%Director %'
query UPDATE contacts SET title = 'Director, ' WHERE title LIKE '%Director-%'
query UPDATE contacts SET title = 'Director, ' WHERE title LIKE '%Director -%'
query UPDATE contacts SET title = 'Financial Manager' WHERE title LIKE '%Finance Manager%'
query UPDATE contacts SET title = 'Lead,' WHERE title LIKE '%Lead - %'
query UPDATE contacts SET title = 'Manager, ' WHERE title LIKE '%Manager %'
query UPDATE contacts SET title = 'Manager, ' WHERE title LIKE '%Manager-%'
query UPDATE contacts SET title = 'Manager, ' WHERE title LIKE '%Manager -%'
query UPDATE contacts SET title = 'Senior ' WHERE title LIKE '%SR %'
query UPDATE contacts SET title = 'Senior ' WHERE title LIKE '%Sr %'
query UPDATE contacts SET title = 'Senior' WHERE title LIKE '%Sr.%'
query UPDATE contacts SET title = 'VP' WHERE title LIKE '%Vice President%'
query UPDATE contacts SET title = 'VP' WHERE title LIKE '%Vice-President%'
query UPDATE contacts SET title = 'VP' WHERE title LIKE '%VP,%'
