setg RHOSTS file:
setg THREADS 255
setg RPORT 445

use auxiliary/scanner/smb/pipe_auditor
run

use auxiliary/scanner/smb/pipe_dcerpc_auditor
run

use auxiliary/scanner/smb/psexec_loggedin_users
run

use auxiliary/scanner/smb/smb2
run

use auxiliary/scanner/smb/smb_enumshares
run

use auxiliary/scanner/smb/smb_enumusers_domain
run

use auxiliary/scanner/smb/smb_enumusers
run

use auxiliary/scanner/smb/smb_login
run

use auxiliary/scanner/smb/smb_lookupsid
run

use auxiliary/scanner/smb/smb_version
run
