setg RHOSTS file:/opt/scripts/test/161.txt
setg THREADS 255
setg RPORT 161

use auxiliary/scanner/snmp/aix_version
run

use auxiliary/scanner/snmp/snmp_enumshares
run

use auxiliary/scanner/snmp/snmp_enumusers
run

use auxiliary/scanner/snmp/snmp_enum
run

use auxiliary/scanner/snmp/cisco_config_tftp
run

use auxiliary/scanner/snmp/xerox_workcentre_enumusers
run

